extends ../_template

append variables
  - var title = 'Home page';
  - var pageClass = 'is-home';
  - var nGallery = 1;

block content
  #header.header(style="background-image: url(assets/img/header-bg.jpg);")
    .top-line.header__top-line
      a.top-line__logo.logo.logo--white(href="/")
        +logo
      .main-nav
        ul.main-nav__list
          each i in mainNavMenu
            - active = i.style || ''
            li(class=`main-nav__item ${active}`)
              a.main-nav__link(href=`${i.link}`)= i.menu
      .top-line__phone.phone
        .phone__icon
          +icon("phone") 
        .phone__namber.phone--white +7 (000) 000-00-00
    .header__wrap
      .promo-hero.header__promo
        h1.promo-hero__title Металлоконструкции на заказ
        p.promo-hero__desk 
          | Изготовление изделий из металла, любой сложности.
          | Мангалы нестандартных размеров, ограждения для цветников и клумб,
          | навесы для автомобилей, садовая мебель и многое другое для дачи и дома.
      .icon-nav.header__icon-nav
        each item in svgNavHeader
          a(href=`#modal-${item.id}`  uk-toggle)
            .icon-nav__item
              +icon(item.id)
              .icon-nav__title= item.text

  section#catalog.s-catalog
    .s-catalog__services.services
      each i in [1,2,3,4,]
        .services__item
          .services-image
            .services-image__photo(style="background-image: url(assets/img/produkt/naves.jpg);")
          .services-content
            h3.services-content__title= 'title ' + i
            .services-content__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, asperiores!
            a(href="#").services-content__btn Подробнее
  section#gallery.s-gallery
    h2.s-gallery__title Фотогалерея
    .s-gallery__content
      .fotorama
        while nGallery < 15
          img(src=`assets/img/rabota/${nGallery++}.jpg`, alt="")
  section#contact.s-contact
    .s-contact__map.map
      //- .map__content
         script( type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=sD2sMSNBBz0-22QYYnb2Y9aP0lbSn9IL&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true")
    .s-contact__adress.adress
      .adress__title Контакты
      .adress__content
        .adress__location
          +icon('location')  
          p
            |Московская обл. г.Балашиха,
            br
            | ул.Пехра-Покровская, д.8А.
        .adress__mail
          +icon('mail')
          p ivan160881@mail.ru
        .adress__phone
          +icon('phone')
          p +7 (000) 000 00-00
  footer.footer
    .footer__content
      a.footer__logo(href="/")
        +icon('site-logo')
      .footer__menu.catalog-menu
        ul.catalog-menu__list
          each i in svgNavHeader
            li.catalog-menu__item
              a(href="").catalog-menu__link= i.text
  a#toTop(href="#header").too-top
    +icon('chevron-up')

  #modal-besedka.uk-modal-full('uk-modal')
    .uk-modal-dialog
      button(class="uk-modal-close-full uk-close-large" type="button" uk-close)
      .modal-body
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quia quam assumenda facilis ab aut, sunt fuga et cum fugit tempore nihil. Ex optio similique necessitatibus minima harum porro reprehenderit nostrum impedit, at. Vitae, vero, repudiandae. Vero deleniti reprehenderit animi.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quia quam assumenda facilis ab aut, sunt fuga et cum fugit tempore nihil. Ex optio similique necessitatibus minima harum porro reprehenderit nostrum impedit, at. Vitae, vero, repudiandae. Vero deleniti reprehenderit animi.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quia quam assumenda facilis ab aut, sunt fuga et cum fugit tempore nihil. Ex optio similique necessitatibus minima harum porro reprehenderit nostrum impedit, at. Vitae, vero, repudiandae. Vero deleniti reprehenderit animi.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quia quam assumenda facilis ab aut, sunt fuga et cum fugit tempore nihil. Ex optio similique necessitatibus minima harum porro reprehenderit nostrum impedit, at. Vitae, vero, repudiandae. Vero deleniti reprehenderit animi.