extends ../_template

append variables
  - var title = 'Home page';
  - var pageClass = 'is-home';
  - var nGallery = 1;

block content
  .header(style="background-image: url(assets/img/header-bg.jpg);")
    .top-line.header__top-line
      a.top-line__logo.logo.logo--white(href="/")
        +logo
      .main-nav
        ul.main-nav__list
          each i in mainNavMenu
            - active = i.style || ''
            li(class=`main-nav__item ${active}`)
              a.main-nav__link(href= i.link)= i.menu
      .top-line__phone.phone
        .phone__icon
          +icon("phone") 
        .phone__namber.phone--white +7 (000) 000-00-00
    .header__wrap
      .promo-hero.header__promo
        h1.promo-hero__title Металлоконструкции на заказ
        p.promo-hero__desk 
          | Изготовление изделий из металла, любой сложности.
          | Мангалы нестандартных размеров, ограждения для цветников и клумб,
          | навесы для автомобилей, садовая мебель и многое другое для дачи и дома.
      .icon-nav.header__icon-nav
        each item in svgNavHeader
          a(href="#" + item.id)
            .icon-nav__item
              +icon(item.id)
              .icon-nav__title= item.text

  section#catalog.s-catalog
    .s-catalog__services.services
      each i in [1,2,3,4,]
        .services__item
          .services-image
            .services-image__photo(style="background-image: url(assets/img/produkt/naves.jpg);")
          .services-content
            h3.services-content__title= 'title ' + i
            .services-content__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, asperiores!
            a(href="#").services-content__btn Подробнее
  section#gallery.s-gallery
    h2.s-gallery__title Фотогалерея
    .s-gallery__content
      .fotorama
        while nGallery < 15
          img(src=`assets/img/rabota/${nGallery++}.jpg`, alt="")
  section#contact.s-contact
    .s-contact__map
    .s-contact__adress